.toolbar {
  background: #193b5d;
}
.toolbar-app-logo {
  width: 35px;
  height: 35px;
}
.toolbar-app-title {
  margin-left: 20px !important;
  font-weight: 600 !important;
}
.toolbar-links {
  margin-left: 50px;
  min-height: 64px;

  a {
    padding: 24px 20px;
    color: #d8d8d8;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  a:hover,
  a.active {
    color: #fff;
    background: #1f4e7d;
  }
}
